@media screen and (max-width: 576px) {
    .nav-links{
        display: none;
        transition: all 0.5s ease-in-out;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-img{
        padding-right: 0;
    }
    .menu-bar{
        display: block;
    }
}