@media screen and (max-width: 576px) {
    .nav-links{
        display: none;
        transition: all 0.5s ease-in-out;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-img{
        padding-right: 0;
    }
    .menu-bar{
        display: block;
    }
    .banner-ribbon01{
        position: absolute;
        bottom: 17%;
        left: 0%;
    }
    .banner-play{
        display: none;
    }
    .habit-card-container{
        flex-direction: column;
        gap: 50px;
    }
    .habit-poster{
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-poster-img img{
        width: 100%;
    }
}