@media screen and (max-width: 576px) {
    .nav-links{
        display: none;
        transition: all 0.5s ease-in-out;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-img{
        padding-right: 91px;
    }
    .menu-bar{
        display: block;
    }
    .banner-ribbon01{
        position: absolute;
        bottom: 17%;
        left: 0%;
    }
    .banner-play{
        display: none;
    }
    .habit-card-container{
        flex-direction: column;
        gap: 50px;
    }
    .banner-content p{
        width: 100%;
    }
    .banner-container button {
        margin-top: 10px;
    }


    

    .exercise-text p {
        width: 100%;
        margin: 15px 0;
    }

    .exercise-card .card h5 {
        font-size: 0.7rem;
        font-weight: 300;
        padding: 9px;
    }






    .habit-text p{
        width: 100%;
        margin: 3px 0;
    }
    .habit-poster{
        grid-template-columns: repeat(1, 1fr);
    }
    .habit-poster-img img{
        width: 100%;
    }
    .heading-2 {
        font-size: 2.4rem;
        line-height: 53px;
    }
    .heading-4 {
        font-size: 1.7rem;
    }

    .heading-5{
        font-size: 0.8rem;
    }




    .exercise-card{
        grid-template-areas: 
        'a a a a c c c c'
        'b b b b b b b b'
        'd d d d e e e e'
        'f f f f f f f f'
        ;
        gap: 10px;
    }
    .exercise-card .card {
       border-radius: 3px;
    }


    

    .bmi-calc-container{
        display: flex;
        flex-direction: column;
    }
    .bmi-container p{
        width: 100%;
    }
    
    .bmi-calc-chart h4 {
        margin-bottom: 25px;
    }
    .bmi-calc-chart{
        margin-bottom: 40px;
    }




    

    form {
        margin-top: 10px;
    }
    form{
        display: grid;
        gap: 15px;
        grid-template-areas:
        'a'
        'b'
        'c'
        'd'
        'e'
        'f'
        ;
    }
   







    .team-text p{
        width: 100%;
    }
    .team-card-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        justify-items: center;
    }

    .team-container {
        padding: 60px 15px;
    }

    .team-text .heading-4 {
        font-weight: 800;
        font-size: 2rem;
        color: var(--white-color);
        margin: 3px 0;
    }





    
    .footer-container{
        flex-direction: column;
    }
    .logo-text {
        width: 100%;
    }
    
}
